@using CinemaPro.Models.TMDB
@model SearchMovies

@{
    ViewData["Title"] = "CinemaPro";
}

<h2 class="text-center">Search Results for ""</h2>

<section class="px-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        @foreach (var movie in Model.results)
        {
            <div class="col mb-2">
                <div class="card text-white bg-dark w-100 h-100 shadow">
                    <img src="@movie.poster_path" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title clampTitle text-center">@movie.title</h5>
                        <div class="d-grid">
                            <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-large btn-dark fw-bold btn-outline-secondary">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>